 /* Initial */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

* 		{margin:0;padding:0;font-size:9pt;}
html 	{width:100%;height:100%;}
body 	{background:#272822;color:#eceae1;height:100%;min-width:1024px;}
a 		{text-decoration: none;}

#sidebar 		{background:#e6e6e6;width:250px;position:fixed;left:0;top:0;bottom:20px;color:#000000;border-bottom:1px solid #323232;}
#sidebar.left 	{border-right:1px solid #808080;float:left;}
#sidebar.right 	{border-left:1px solid #808080;float:right;}

#sidebar h3 	{margin:5px 10px;color:#82828a;font-family: 'Open sans', sans-serif; font-weight: 700;}
#sidebar ul 	{list-style:none;margin-bottom:5px;}
#sidebar li 		{padding:2px 0px 2px 8px;border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;font-family: 'Open sans', sans-serif;}
#sidebar li.active 	{border-top:1px solid #a8a8a8; border-bottom:1px solid #8b8b8b;color:#ffffff;
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8e8e8e), to(#b3b3b3));
						background: -webkit-linear-gradient(top, #b3b3b3, #8e8e8e);
						background: -moz-linear-gradient(top, #b3b3b3, #8e8e8e);
						background: -ms-linear-gradient(top, #b3b3b3, #8e8e8e);
						background: -o-linear-gradient(top, #b3b3b3, #8e8e8e);
					}
#sidebar li div 	{padding-left:10px;text-shadow: 0 0 10px #ffffff;}
#sidebar li a  			{color:#000000;}
#sidebar li.active a 	{color:#ffffff;}

#article 		{font-size:10pt;}
#article.left 	{margin-right:251px;}
#article.right 	{margin-left:251px;}

#article > header 	{border-bottom:1px solid #0a0c0a;background:#181714;height:32px;position:relative;}
#article > header .active 	{position:absolute;left:0;top:2px;bottom:-2px;background:gray;padding:9px 85px 5px 25px;background:url('../img/tab.png');z-index:2;font-size:9pt;}
#article > header .back 	{margin-left:183px;height:32px;text-align:right;padding:5px 0;}
#article > header .back > div 	{display:inline-block;margin-right:5px;}
#article > header .back > div.fb 	{width:75px;}
#article > header .back > div.twt 	{width:70px;}
#article > article 	{border-top:1px solid #3c3d39;}

#contents 	{padding:5px 0 0 0;}
#contents .linenumbox 		{text-align:center;width:20px;color:#8f9088;}
#contents .linenumbox > span	{display:block;}

#footer 		{background:#555555;width:100%;height:15px;position:fixed;bottom:0;padding:2px;padding-left:4px;
					border-top:1px solid #7d7d7d;color:#ffffff;font-family: 'Nanum Gothic', sans-serif;}

#footer div 	{position:relative;}
#footer span.job 	{}
#footer span.info 	{position:absolute; right:30px;}
#footer span.birth 	{position:absolute; right:150px;}

.font-Lato 		{font-family: 'Lato', sans-serif;}
.font-OpenSans 	{font-family: 'Open sans', sans-serif;}
.font-300 		{font-weight: 300;}
.font-400 		{font-weight: 400;}
.font-700 		{font-weight: 700;}

.overHidden 	{overflow:hidden;}

/* class for code highlight */
.syntax span 	{}
.syntax a 		{text-shadow:0 0 10px yellow;color:yellow;}
.syntax .italic {font-style:italic;}
.syntax .c 		{color:#75715e;}
.syntax .kn 	{color:#f92672;}
.syntax .nn 	{}
.syntax .nf 	{color:#66d9ef;}
.syntax .bp 	{color:#fd982d;}
.syntax .n 		{color:#f8f8f2;}
.syntax .o 		{color:#f92672;}
.syntax .k 		{color:#66d9ef;}
.syntax .nc 	{color:#a6e22e;}
.syntax .p 		{color:#f8f8f2;}
.syntax .s 		{color:#e6db74;}
.syntax .mi 	{color:#b07dfb;}
.syntax .input 	{background:#272822;color:#e6db74;border:0;border-bottom:1px solid #fff;text-align:center;}
