* {
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    font-size: 15px;
}
body {
    padding: 30px 0;
}
body > .container {
    max-width: 980px;
}

#profile #cover {
    display: block;
    width: 180px;
    margin: 10px auto;
}

#profile .description .ws {
    margin: 0 5px;
}