* {
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    font-size: 15px;
    font-weight: 300;
}
body {
    padding: 30px 0;
}
body > .container {
    max-width: 980px;
}

#profile {
    margin-bottom: 40px;
}
#profile #cover {
    display: block;
    width: 180px;
    margin: 10px auto;
}
#profile .description .ws {
    margin: 0 5px;
}

#Deprecated {
    margin-bottom: 60px;
}

#WorkExperience .work {
    margin-bottom: 50px;
}

#WorkExperience .label {
    padding: .1em .3em .15em;
    font-weight: 400;
    margin: 0 .5px;
}

#WorkExperience code {
    font-size: 75%;
}